/* Will be compiled down to a single stylesheet with your sass files */

html, body {
  font-size: 18px;
  line-height: 1.8em;
  font-family: Georgia, serif;
}

.page {
  max-width: 800px;
  margin: 0 auto;
}