/* Resets */

* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
}

/* Sidebar controls */

header {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 72px;
  text-align: center;
}

.controls {
  display: inline-block;
  margin: 10px 0 0;
}

.controls a {
  width: 32px;
  height: 32px;
  margin: 5px;
  float: left;
  clear: left;
  text-align: center;
  vertical-align: middle;
}

.controls a, .controls .orientation-toggle.disabled {
  opacity: .5;
}

.controls a.selected, .controls .orientation-toggle {
  opacity: 1;
}

/* Workspace and frames */

.workspace {
  background-image: url(../images/subtle_dots.png);
  background-size: 27px 15px;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 72px;
  text-align: center;
  box-shadow: 3px 0 10px rgba(0,0,0,.1);
  border-radius: 0 10px 10px 0;
  padding: 30px;
}

.frame-wrapper {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  transition: all .25s ease-out;
  border: 1px solid #aaa;
}

.frame-inner {
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.frame {
  width: 100%;
  height: 100%;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  transition: all .25s ease-out;
  border: none;
  background-color: #fff;
  display: block;
}

/* Device specific styles */

.mobile, .desktop {
  background: #f3f3f3;
  position: relative;
  overflow: hidden;
}

.mobile {
  margin: 30px;
  border-radius: 25px;
}

.iphone-4 {
  padding: 106px 12px 109px;
}

.iphone-4.landscape {
  padding: 12px 109px 12px 106px;
}

.iphone-5 {
  padding: 104px 18px 98px;
}

.iphone-5.landscape {
  padding: 18px 98px 18px 104px;
}


.desktop {
  padding: 50px 0 0;
  border-radius: 5px;
}

.desktop .frame {
  border-radius: 0 0 5px 5px;
}

.iphone-4 {
  width: 320px;
  height: 480px;
}

.iphone-5 {
  width: 320px;
  height: 568px;
}

.ipad {
  width: 768px;
  height: 1024px;
  padding: 60px;
}

.iphone-4.landscape {
  height: 320px;
  width: 480px;
}

.iphone-5.landscape {
  height: 320px;
  width: 568px;
}

.ipad.landscape {
  height: 768px;
  width: 1024px;
}

/* Orientation toggle */

.controls a {
  -webkit-transition: all .3s ease-in-out;
}

.landscape .set-mobile {
  -webkit-transform: rotate(-90deg);
}

.landscape .orientation-toggle {
  -webkit-transform: rotate(90deg);
}
